src/WeText.Common/Config/WeText.Config.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:WeText.Common.Config" elementFormDefault="qualified" targetNamespace="urn:WeText.Common.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="weTextConfiguration" type="tns:WeText.Common.Config.WeTextConfigurationCT" />
	<xs:complexType name="WeText.Common.Config.WeTextConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="commandQueue" type="tns:WeText.Common.Config.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The CommandQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="eventQueue" type="tns:WeText.Common.Config.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The EventQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="services" type="tns:WeText.Common.Config.ServiceElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="application" type="tns:WeText.Common.Config.ApplicationSettingElementCT">
				<xs:annotation>
					<xs:documentation>The ApplicationSetting.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.SettingElementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.SettingElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="setting" type="tns:WeText.Common.Config.SettingElementCT">
				<xs:annotation>
					<xs:documentation>The SettingElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.ServiceElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="tns:WeText.Common.Config.ServiceElementCT">
				<xs:annotation>
					<xs:documentation>The ServiceElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.ServiceElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="settings" type="tns:WeText.Common.Config.SettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="localCommandQueue" type="tns:WeText.Common.Config.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The LocalCommandQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="localEventQueue" type="tns:WeText.Common.Config.MessageQueueConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The LocalEventQueue.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="instanceId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The InstanceId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.ApplicationSettingElementCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Represents the base url of the WeText service.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WeText.Common.Config.MessageQueueConfigurationElementCT">
		<xs:attribute name="hostName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The HostName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="exchangeName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Gets or sets the name of the resource of the message queue. A resource can be either a queue, or an exchange to which queues can be bound.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queueName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The QueueName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="MessageQueueResourceType">
		<xs:annotation>
			<xs:documentation>MessageQueueResourceType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MessageExchange">
				<xs:annotation>
					<xs:documentation>MessageExchange.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MessageQueue">
				<xs:annotation>
					<xs:documentation>MessageQueue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
